/* =============================

CONTACTO

=============================*/

.seccion-contacto {
    margin: auto;
    width: 800px;
    .btn-enviar {
        background: $container-green;
        font-family: "BaskervilleBold", serif;
        color: $dark-green;
    }
    .form-control {
        color: #a9a281;
        font-family: "BaskervilleBold", serif;
    }
    .form-control-input {
        height: 50px;
    }
}

.seccion-info-contacto {
    h6 {
        font-family: "BaskervilleSemiBold", serif;
    }
    .container-info {
        color: $dark-grey;
        width: 250px;
    }
    .container-info-left {
        margin-right: 15%;
    }
    .container-info-right {
        margin-left: 15%;
    }
}