/* =============================

FONTS

=============================*/
@font-face {
  font-family: BaskervilleRegular;
  src: url('../../public/font/Baskerville/Baskerville.ttf');
}

@font-face {
  font-family: BaskervilleSemiBold;
  src: url('../../public/font/Baskerville/Baskerville-SemiBold.ttf');
}

@font-face {
  font-family: BaskervilleSemiBoldItalic;
  src: url('../../public/font/Baskerville/Baskerville-SemiBoldItalic.ttf');
}

@font-face {
  font-family: BaskervilleBold;
  src: url('../../public/font/Baskerville/Baskerville-Bold.ttf');
}

/* =============================

VARIABLES

=============================*/
@import 'variables';

/* =============================

BOOSTRAP

=============================*/
@import '~bootstrap/scss/bootstrap';

/* =============================

ESTILOS SECCIONES

=============================*/
@import 'general';
@import 'home';
@import 'servicios';
@import 'galeria';
@import 'contacto';
@import 'responsive';