
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



// GENERALES

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .container {
    position: relative;
    top: 130px;
    z-index: 2;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // background: linear-gradient(rgba(78,75,54,1), rgba(47,45,44,0.1));
    background: linear-gradient(#4E4B36, #2F2D2C);
    // background-color: black;
    opacity: .4;
    z-index: 1;
  }
}

.video-border {
  border-radius: 8px;
  border: solid 1.5px $green;
  height: 40vh; 
  position: relative;
  top: 35px;
  margin: auto;
  width: 85%;
}

.container-text {
  width: 500px;
}

.container-text-big {
  width: 560px;
}

.jumbotron {
  background: #FFF;
  margin-bottom: 0;
}

.text-principal {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 4.5px;
  text-align: center;
  color: $dark-green!important;
  span {
    font-style: italic;
    font-weight: 700;
  }
}

// CONTACTO 
#contacto-home {
  background: $container-green;
  overflow: hidden;
  .content-contacto-left {
    display: table; 
    height: 370px;
    margin: auto;
    width: 500px;
  }
  .texto1, .texto2 {
    line-height: 1.2;
    letter-spacing: 7.5px;
  }
  .texto1 {
    font-size: 18px;
  }
  .texto2 {
    font-size: 12px;
    font-weight: 700;
  }
  form {
    padding: 7%;
    .btn-enviar {
      border: solid 2px #efece2;
      color: #efece2;
    }
    .form-control {
      background: $container-green;
    }
  }  
}

.descripcion-home {
  overflow: hidden;
}


.img-hoja {
  position: absolute;
  opacity: .7;
  width: 120px;
}

.img-hoja.img1 {
  left: 50px;
  top: -5px;
}
.img-hoja.img2 {
  right: 50px;
  bottom: -5px;
}


// PLECA
.container-pleca {
  background: $container-green;
  position: relative;
  overflow: hidden;
  p {
    font-size: 18px;
    line-height: 1.14;
    letter-spacing: 4px;
    margin: auto;
    width: 600px;
    span {
      font-weight: bold;
      font-style: italic;
    }
  }
  .img-hoja {
    bottom: -25px;
    width: 100px;
  }
}

// SERVICIOS
.container-servicios {
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  .servicio-imagen {
    background: url('../../public/img/elementos/img-servicios.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .servicio-descripcion {
    h2 {
      color: $light-green;
    }
    p {
      color: $darker-green;
      font-size: 11px;
      line-height: 1.45;
      letter-spacing: 4px;
    }
  }
} 


@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

// General
@import 'general';
@import 'galeria';
@import 'contacto';
@import 'responsive';